body{
    background-image: url(./images/photo-1584036561566-baf8f5f1b144.jpeg);
    background-size: cover;
    background-attachment: fixed;

}


@media only screen and (max-width:600px) {
    body{
        background-image: url("images/31e65801-f510-4899-9ab7-7b927cd903fb_covid19.png");
        background-size: cover;
        background-attachment: fixed;

        
    }
}